<div class="container">
  
  <!-- <h1 [appTextColor]="'blue'">{{inputValue}}</h1>
  <input matInput [(ngModel)]='inputValue' placeholder="Ex. Pizza" value="Sushi">
  <app-material [age]='age' [inputValue]='inputValue' (parentTitleChanged)='changeTitle($event)' (ageChanged)='ageChanged($event)'>
    <h1>{{parentTitle}}</h1>
  </app-material>
  <button mat-button mat-raised-button (click)='changeAge()'>Change age</button>
  <button appDropDown mat-button mat-raised-button>Dropdown</button>
  <div appDropDown class="dropdown">
    <h1>dropdown</h1>
  </div> -->

  <div class="login-box">
    <router-outlet></router-outlet>
  </div>
</div>
